<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smsnotification.app">

    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 读取短信权限 -->
<!--    <uses-permission android:name="android.permission.SEND_SMS" />&lt;!&ndash;发送短信权限&ndash;&gt;-->
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" /><!--发送短信权限-->
    <uses-permission android:name="android.permission.RECEIVE_MMS" /><!--发送短信权限-->
    <uses-permission android:name="android.permission.VIBRATE" /> <!--震动-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!--前台服务-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMSNotification">

        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".music.MyService"
            android:exported="false"></service>
        <receiver
            android:name=".sms.SmsReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="666" >
                <action android:name="android.provider.OppoSpeechAssist.SMS_RECEIVED" />

                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".sms.SmsService"></service>

    </application>

</manifest>